{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="subforum">
            <div class="subforum-title">
                <h1>Welcome</h1>
            </div>
            <hr class="subforum-devider">
            {% for forum in forums %}
            <div class="subforum-row">
                <div class="subforum-icon subforum-column center">
                    <i class="material-icons">cloud</i>
                </div>
                <div class="subforum-description subforum-column">
                    <h1><a href="{{forum.get_url}}">{{forum.title}}</a></h1>
                    <p>Description : {{forum.description}}</p>
                </div>
                <div class="subforum-stats subforum-column center">
                    <span>{{forum.num_posts}} Posts</span>
                </div>
                <div class="subforum-info subforum-column ">
                    <b><a href="{{forum.last_post.get_url}}">Last Post</a></b>by <a href="">{{forum.last_post.user | title}}</a> 
                    <br>on <small>{{forum.last_post.date | date}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}