{% extends 'base.html' %}
{% load hitcount_tags %}
{% block content %}
        <div class="container">
            <!--Naviation-->
            <div class="navigate">
                <span><a href="{% url 'home' %}">My Forum - Forums</a> >> <a href="{{forum.get_url}}">{{forum.title}} </a></span>
            </div>
            <div class="posts-table">
                <div class="table-head">
                    <div class="status">Status</div>
                    <div class="subjects">Subjects</div>
                    <div class="replies">Replies/Views</div>
                    <div class="last-reply">Last Reply</div>
                </div>
                {% for post in posts%}
                <div class="table-row">
                    <div class="status"><i class="material-icons-outlined">local_fire_department</i></div>
                    <div class="subjects">
                        <a href="{{post.get_url}}">{{post.title}}</a>
                        <br>
                        <span>Started by <b><a href="">{{post.user.fullname|title}}</a></b> .</span>
                    </div>
                    <div class="replies">
                         {{post.num_comments}} comments <br> {% get_hit_count for post%} views
                    </div>
    
                    <div class="last-reply">
                        {{post.last_reply.date|date}}
                        <br>By <b><a href="">{{post.last_reply.user.fullname|title}}</a></b>
                    </div>
                </div>
                {% endfor %}
                <!--Pagination-->
                <div class="pagination">
                    pages: <a href="">1</a><a href="">2</a><a href="">3</a>

                </div>
                <!--Status note-->
                <div class="note">
                    <span>
                        <i class="material-icons-outlined">arrow_drop_up</i>&nbsp; 0 Engagement Topic <br>
                    </span>
                    <span>
                        <i class="material-icons-outlined">arrow_upward</i>&nbsp; Low Engagement Topic <br>
                    </span>
                    <span>
                        <i class="material-icons-outlined">local_fire_department</i>&nbsp; Popular Engagement Topic <br>
                    </span>
                    <span>
                        <i class="material-icons-outlined">rocket</i>&nbsp; High Engagement Topic <br>
                    </span>
                </div>
            </div>
        </div>
        
    {% endblock content %}